:root {
	--blue: #14213d;
	--yellow: #fca311;
	--gray: #e5e5e5;
}

.flexbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	margin: 0;
	background-color: var(--blue);
}

h1 {
	margin: 25px 0;
	font-size: 70px;
	color: var(--yellow);
}

#copy-button {
	align-self: flex-start;
	width: min-content;
	height: min-content;
	border: 1px solid black;
	border-top-left-radius: 18px;
	border-top-right-radius: 100px;
	border-bottom-width: 0;
	padding: 0 2px;
	padding-right: 12px;
	background-color: var(--gray);
	font-size: 18px;
}

#password {
	width: min-content;
	height: min-content;
	margin: 0;
	border: 1px solid black;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 2px;
	font-size: 22px;
	resize: none;
	outline: none;
}

#generate-button {
	align-self: flex-end;
	width: min-content;
	height: min-content;
	border: 1px solid black;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 100px;
	border-top-width: 0;
	padding: 0 2px;
	padding-left: 12px;
	background-color: var(--gray);
	font-size: 18px;
}

.length-container {
	width: 400px;
	height: min-content;
	margin: 20px 0;
	border: 1px solid black;
	border-radius: 8px;
	background-color: var(--gray);
}

.title-container {
	width: 100%;
	border-bottom: 1px solid black;
	text-align: center;
}

.title {
	margin: 5px;
	font-size: 22px;
	color: black;
}

.slider-container {
	display: inline-flex;
	padding: 5px;
}

#slider {
	align-self: flex-start;
	appearance: none;
	height: 5px;
	margin: auto 2px;
	border-radius: 2px;
	border: 1px solid black;
	background: white;
	width: 350px;
}

#slider::-webkit-slider-thumb {
	appearance: none;
	height: 15px;;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: var(--yellow);
}

#slider::-moz-range-thumb {
	height: 15px;;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: var(--yellow);
}

#slider::-moz-range-progress {
	background-color: var(--yellow);
}

#slider::-ms-fill-lower {
	background-color: var(--yellow);
}

#text-input {
	align-self: flex-end;
	width: 15px;
	height: min-content;
	padding: 0 2px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid black;
	cursor: text;
}

.checkboxes {
	width: min-content;
	height: min-content;
	border: 1px solid black;
	border-radius: 8px;
	background-color: var(--gray);
}

.checkbox-container {
	display: flex;
	flex-flow: row-reverse;
	align-self: flex-start;
	width: min-content;
	height: min-content;
	margin: 1px 5px;
	white-space: nowrap;
	color: black;
	font-size: 18px;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkmark {
	display: flex;
	justify-content: center;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 3px;
	height: 15px;
	width: 15px;
	background-color: white;
}

.checkbox-container:hover input ~ .checkmark {
	background-color: var(--yellow);
}

.checkmark:after {
	content: "";
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input, label {
	outline: none;
	cursor: pointer;
}

footer {
	margin-top: 20px;
	width: 32px;
	height: 32px;
}
