body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	background-color: #2b2b2b;
}

h1 {
	margin: 25px 0;
	font-size: 70px;
	color: #d0d0d0;
}

.password-container {
	display: flex;
	flex-direction: column;
}

.copy-button {
	width: min-content;
	height: min-content;
	border: 1px solid #000000;
	border-top-left-radius: 18px;
	border-top-right-radius: 100px;
	border-bottom-width: 0;
	padding: 0 2px;
	padding-right: 12px;
	background-color: #e8e8e8;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

#password {
	width: min-content;
	height: min-content;
	margin: 0;
	border: 1px solid #000000;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 2px;
	font-size: 22px;
	resize: none;
	outline: none;
}

.generate-button {
	align-self: flex-end;
	width: min-content;
	height: min-content;
	border: 1px solid #000000;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 100px;
	border-top-width: 0;
	padding: 0 2px;
	padding-left: 12px;
	background-color: #e8e8e8;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

.length-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: min-content;
	margin: 20px 0;
	border: 1px solid #000000;
	border-radius: 8px;
	background-color: #cccccc;
}

.title-container {
	width: 100%;
	border-bottom: 1px solid #000000;
	text-align: center;
}

.title {
	margin: 5px;
	font-size: 22px;
	color: black;
}

.slider-container {
	display: inline-flex;
	padding: 5px;
}

#slider {
	align-self: flex-start;
	appearance: none;
	height: 5px;
	margin: auto 2px;
	border-radius: 2px;
	background: #2b2b2b;
	outline: none;
	width: 350px;
	cursor: pointer;
}

#slider::-webkit-slider-thumb {
	appearance: none;
	height: 15px;;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: white;
}

#slider::-moz-range-thumb {
	height: 15px;;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: white;
}

#text-input {
	align-self: flex-end;
	width: 15px;
	height: min-content;
	padding: 0 2px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid black;
	cursor: text;
}

.checkboxes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min-content;
	height: min-content;
	border: 1px solid #000000;
	border-radius: 8px;
	background-color: #cccccc;
}

.checkbox-container {
	align-self: flex-start;
	width: min-content;
	height: min-content;
	margin: 1px 5px;
	white-space: nowrap;
	color: black;
	font-size: 18px;
}

input, label {
	cursor: pointer;
}

footer {
	margin-top: 20px;
	width: 32px;
	height: 32px;
}
