html {
	background-color: #2b2b2b;
}

.header {
	text-align: center;
	font-size: 60px;
	color: #d0d0d0;
}

.password-field {
	margin: 0 auto;
	display: flex;
	width: min-content;
	height: min-content;
	align-items: center;
	flex-direction: column;
}

.copy-button {
	width: min-content;
	height: min-content;
	align-self: flex-start;
	outline: none;
	font-size: 18px;
	border: 1px solid #000000;
	border-top-left-radius: 18px;
	border-top-right-radius: 100px;
}

#password {
	width: min-content;
	height: min-content;
	align-self: center;
	border: 1px solid #000000;
	font-size: 22px;
	margin: 0;
	resize: none;
	outline: none;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.generate-button {
	width: min-content;
	height: min-content;
	align-self: flex-end;
	outline: none;
	font-size: 18px;
	border: 1px solid #000000;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 100px;
}

.slider-container {
	width: 400px;
	height: fit-content;
	display: block;
	margin: 0 auto;
}

.lengthText {
	font-size: 22px;
	color: #d0d0d0;
	text-align: center;
}

#slider {
	display: inline-block;
	margin: 0 auto;
	float: left;
	width: 350px;
}

#textInput {
	display: inline-block;
	margin: 0 auto;
	float: right;
	width: 15px;
	height: 15px;
}
